<thead>
<tr>
	<th>Property</th>
	<th>Source</th>
	<th>Source ID</th>
	<th>Gene</th>
	<th>Locus Tag</th>
	<th>Gene ID</th>
	<th>GI</th>
	<th>Genus</th>
	<th>Species</th>
	<th>Organism</th>
	<th>Product</th>
	<th>PubMed</th>
</tr>
</thead>