<thead>
<tr>
  <th>id</th> 
  <th>reaction_id</th> 
  <th>abbreviation</th> 
  <th>name</th> 
  <th>code</th> 
  <th>stoichiometry</th> 
  <th>is_transport</th> 
  <th>equation</th> 
  <th>definition</th> 
  <th>model_direction</th> 
  <th>gapfill_direction</th> 
  <th>type</th> 
  <th>base_cost</th> 
  <th>forward_penalty</th> 
  <th>reverse_penalty</th> 
  <th>pathways</th> 
  <th>aliases</th> 
  <th>ec_numbers</th> 
  <th>deltag</th> 
  <th>deltagerr</th> 
  <th>template_id</th> 
  <th>template_name</th> 
  <th>template_modeltype</th> 
  <th>template_domain</th> 
  <th>template_version</th> 
  <th>template_is_current</th> 
  <th>template_owner</th> 
  <th>compartment_ids</th> 
  <th>complex_ids</th> 
  <th>compound_ids</th> 
</tr>
</thead>
